@model WrpCcNocWeb.Models.TempModels.ChangePassword

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-pattern">
                    <div class="card-body p-4">
                        @using (Html.BeginForm("changepassword", "account", FormMethod.Post, new { enctype = "multipart/form-data", id = "ChangePasswordForm", role = "form" }))
                        {
                            <h4 class="header-title mb-3"> Change Password</h4>
                            <hr />
                            <div class="form-group mb-3">
                                <div class="form-group">
                                    <label for="UserName">User Name</label>
                                    <div class="input-group">
                                        <input type="text" id="UserName" name="UserName" class="form-control" value="@ViewBag.UserName" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="form-group">
                                    <label for="CurrentPassword">Current Password</label>
                                    <div class="input-group">
                                        <input type="password" id="CurrentPassword" name="CurrentPassword" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="form-group">
                                    <label for="NewPassword">New Password</label>
                                    <div class="input-group">
                                        <input type="password" id="NewPassword" name="NewPassword" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="form-group">
                                    <label for="ConfirmNewPassword">Confirm New Password</label>
                                    <div class="input-group">
                                        <input type="password" id="ConfirmNewPassword" name="ConfirmNewPassword" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button id="btnSubmit" class="btn btn-info btn-block" type="button"> Change Password </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#ConfirmNewPassword").on('blur', function () {
            var pwd = jQuery("#NewPassword").val();
            var ucp = jQuery(this).val();

            if (pwd != ucp) {
                Notification('error', 'Password Not Matched', 'Password and confirm password does not match!');
                jQuery("#NewPassword, #ConfirmNewPassword").val('');
                jQuery("#NewPassword").focus();
            }
        });

        jQuery("#btnSubmit").click(function () {
            var req = '';
            var cpw = jQuery("#CurrentPassword").val();
            var npw = jQuery("#NewPassword").val();
            var cnp = jQuery("#ConfirmNewPassword").val();

            if (cpw == '') {
                req = '<i class="fe-alert-triangle"></i> Enter your current password!<br />';
            }
            if (npw == '') {
                req += '<i class="fe-alert-triangle"></i> Enter new password!<br />';
            }
            if (cnp == '') {
                req += '<i class="fe-alert-triangle"></i> Enter confirm new password!<br />';
            }

            if (npw !== cnp) {
                req += '<i class="fe-alert-triangle"></i> Password and confirm password does not matched!<br />';
            }

            if (req === '') {
                jQuery("#ChangePasswordForm").submit();
            } else {
                Notification('error', 'Required Info', req);
            }
        });
    });
</script>