@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row" style="margin-top: 100px;">
    <div class="col-md-12">
        <div class="card text-white bg-pink text-xs-center">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                        erat a ante.
                    </p>
                    <footer>
                        Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div> <!-- end card-box-->
    </div> <!-- end col -->
</div>