@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row" style="margin-top: 100px;">
    <div class="col-md-12">
        <div class="card text-white bg-pink text-xs-center">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <center>
                        <p>
                            <h1> Will be updated later</h1>
                        </p>
                    </center>
                    @*<footer>
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </footer>*@
                </blockquote>
            </div>
        </div> <!-- end card-box-->
    </div> <!-- end col -->
</div>