@{
    ViewData["Title"] = "Welcome to CC | NOC Online Application";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<link href="~/css/sigma/sigma_style.css" rel="stylesheet" />

<section id="home">
    <div class="container-fluid">
        <div class="row sigma-home single-page-nav">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <center>
                    <h1>Clearance Certificate | No Objection Certificate</h1>
                    <br />
                    <div class="col-md-offset-2 col-lg-offset-3">
                        Water resources planning in Bangladesh dates back to 1964 when a 20 year Master
                        Plan was prepared by the then EPWAPDA (Now BWDB). Several important studies were
                        undertaken after the severe flooding in 1954 and 1955; Krug Mission Report of 1957,
                        General Hardin's Report of 1963 and Professor Thijsse's Report of 1964 are the most
                        important among them. The Master plan of 1964 had emphasis on large-scale flood control,
                        drainage and irrigation projects to enhance agricultural production which shaped the
                        water sector development till 1975.
                    </div>
                </center>
            </div>
        </div>

        <div class="row">
            <div class="sigma-content col-lg-3 col-md-6 sigma-bg-lightgray bg-info text-center">
                <span class="sigma-icon fa fa-power-off"></span>
                <h2>Design</h2>
                <p>
                    Water Resources Planning Organisation is an autonomous national organisation responsible for the
                    implementation of water resource planning in Bangladesh and is located in Dhaka, Bangladesh.
                </p>
            </div>
            <div class="sigma-content col-lg-3 col-md-6 sigma-bg-gray bg-pink text-center">
                <span class="sigma-icon fa fa-bolt"></span>
                <h2>Implement</h2>
                <p>
                    Water Resources Planning Organisation is an autonomous national organisation responsible for the
                    implementation of water resource planning in Bangladesh and is located in Dhaka, Bangladesh.
                </p>
            </div>
            <div class="sigma-content col-lg-3 col-md-6 sigma-bg-darkgray bg-blue text-center">
                <span class="sigma-icon fa fa-thumbs-up"></span>
                <h2>Enhance</h2>
                <p>
                    Water Resources Planning Organisation is an autonomous national organisation responsible for the
                    implementation of water resource planning in Bangladesh and is located in Dhaka, Bangladesh.
                </p>
            </div>
            <div class="sigma-content col-lg-3 col-md-6 sigma-bg-black bg-success text-center">
                <span class="sigma-icon fa fa-barcode"></span>
                <h2>Monitor</h2>
                <p>
                    Water Resources Planning Organisation is an autonomous national organisation responsible for the
                    implementation of water resource planning in Bangladesh and is located in Dhaka, Bangladesh.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container-fluid">
        <div class="row sigma-section-header">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <center>
                    <h1>About Us</h1>
                    <p>
                        The Water Resources Planning Organization (WARPO) is an apex organization under the
                        Ministry of Water Resources, dealing with nationwide water resources planning.
                        In 1983 Government created Master Plan Organization (MPO) with a mandate to prepare
                        National Water Plans. MPO became WARPO under act no. xii of 1992. Flood Plan Coordination
                        Organization (FPCO) was created in 1989 to coordinate Flood Action Plan (FAP) activities
                        and has been merged with WARPO in January 1996.

                        <h3>WARPO is a multi-disciplinary organization with a team of 44 professionals from a wide range of disciplines.</h3>

                        The Water Resources Planning Act 1992, the National Water Policy, Bangladesh Water Act -2013
                        and Bangladesh Water Rule -2018  of the Government of Bangladesh mandated and assigned various
                        important responsibilities. These are grouped into two categories, namely: routine core function
                        and periodic function.
                    </p>
                </center>
            </div>
        </div>

        <div class="row single-page-nav">
            <div class="sigma-content col-lg-4 col-md-6 bg-info sigma-bg-lightgray">
                <h2>01 Design</h2>
                <p>
                    Water Resources Planning Organisation is an autonomous national organisation responsible for the
                    implementation of water resource planning in Bangladesh and is located in Dhaka, Bangladesh.
                </p>
            </div>
            <div class="sigma-content col-lg-4 col-md-6 bg-success sigma-bg-gray">
                <h2>02 Coding</h2>
                <p>
                    Water Resources Planning Organisation is an autonomous national organisation responsible for the
                    implementation of water resource planning in Bangladesh and is located in Dhaka, Bangladesh.
                </p>
            </div>
            <div class="sigma-content col-lg-4 col-md-12 bg-info sigma-bg-darkgray">
                <h2>03 Mobile Ready</h2>
                <p>
                    Water Resources Planning Organisation is an autonomous national organisation responsible for the
                    implementation of water resource planning in Bangladesh and is located in Dhaka, Bangladesh.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container-fluid">
        <div class="row sigma-section-header">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <center>
                    <h1>Contact</h1>
                    <p>
                        Water Resources Planning Organisation is an autonomous national organisation responsible for the
                        implementation of water resource planning in Bangladesh and is located in Dhaka, Bangladesh.
                    </p>
                </center>
            </div>
        </div>

        <div class="row">
            <div class="sigma-content col-lg-12 col-md-12">
                <center>
                    <h3>Our Address</h3>
                    <p>
                        Water Resources Planning Organisation is an autonomous national organisation responsible for the
                        implementation of water resource planning in Bangladesh and is located in Dhaka, Bangladesh.
                    </p>
                    <p><span class="contact-icon fa fa-envelope-o"></span> Email: info@warpo.gov.bd</p>
                    <p><span class="contact-icon fa fa-phone"></span> Phone: XXX-XXX-XXXX</p>
                </center>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <hr class="sigma-hr">
            </div>
        </div>

        <div class="row">
            <div class="sigma-copyright col-lg-4 single-page-nav text-right">
                <p><a href="#top">Go to top</a></p>
            </div>
        </div>
    </div>
</footer>