@{
    ViewData["Title"] = "Terms & Conditions";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<br />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="accordion" class="mb-3">
                    <div class="card mb-1">
                        <div class="card-header" id="headingOne">
                            <h5 class="m-0">
                                <a class="text-dark" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                                    <i class="mdi mdi-help-circle mr-1 text-primary"></i>
                                    Terms and Condition 1?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="">
                            <div class="card-body">
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingTwo">
                            <h5 class="m-0">
                                <a class="text-dark collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                                    <i class="mdi mdi-help-circle mr-1 text-primary"></i>
                                    Terms and Condition 2?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                            <div class="card-body">
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1">
                        <div class="card-header" id="headingThree">
                            <h5 class="m-0">
                                <a class="text-dark" data-toggle="collapse" href="#collapseThree" aria-expanded="false">
                                    <i class="mdi mdi-help-circle mr-1 text-primary"></i>
                                    Terms and Condition 3?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                            </div>
                        </div>
                    </div>

                    <div class="card mb-1">
                        <div class="card-header" id="headingFour">
                            <h5 class="m-0">
                                <a class="text-dark" data-toggle="collapse" href="#collapseFour" aria-expanded="false">
                                    <i class="mdi mdi-help-circle mr-1 text-primary"></i>
                                    Terms and Condition 4?
                                </a>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="collapseFour" data-parent="#accordion">
                            <div class="card-body">
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                                Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions. Terms and Conditions.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>