
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report in Bangla</title>
    <link rel="stylesheet" type="text/css" href="~/css/PDF.css" />
</head>


<body>
    <h2 align="center">বন্যা নিয়ন্ত্রন বা ব্যবস্থাপনা প্রকল্প</h2>

    <h3>ক. সাধারণ তথ্য:</h3>

    <div class="container">
        <div class="row">
            <div class="col">
                <label for="pname"><b>১. প্রকল্প শিরোনাম</b></label>
            </div>
            <div class="col">
                <p>Narayangang River Flood </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="pbg"><b>২. প্রকল্পের পূর্ব ইতিহাস ও যৌক্তিকতা </b></label>
            </div>
            <div class="col">
                <p>Background words </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="pbg"><b>৩. প্রকল্পের লক্ষ্য </b></label>
            </div>
            <div class="col">
                <p>Project target </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="pbg"><b>৪. প্রকল্পের উদ্দেশ্য</b></label>
            </div>
            <div class="col">
                <p>obj </p>
            </div>
        </div>
        @*</div>*@
        <br />
        <div class="row">
            <label for="pbg"><b>৫. প্রকল্পের অবস্থান</b></label>
        </div>
        <div class="row">
            <table style="width:100%">
                <tr>
                    <th>ইউনিয়ন</th>
                    <th>উপজেলা </th>
                    <th>জেলা </th>
                    <th>অক্ষাংশ</th>
                    <th>দ্রাঘমিাংশ</th>
                </tr>
                <tr>
                    <td>Chasara</td>
                    <td>Narayangonj</td>
                    <td>Dhaka</td>
                    <td>120.456789</td>
                    <td>36.456789</td>
                </tr>

            </table>
        </div>
        <br />

        <div class="row">
            <div class="col">
                <label for="pbg"><b>৮. প্রকল্প ব্যয় </b></label>
            </div>
            <div class="col">
                <p>500000</p> <br />
            </div>
        </div>


        <label for="pbg"><b>৭. প্রকল্প সময়কাল</b></label>

        <table>
            <tr>
                <th>প্রাম্ভিক কাল</th>
                <th>সমাপ্তি কাল</th>
            </tr>
            <tr>
                <td>23/5/19</td>
                <td>13/9/19</td>
            </tr>
        </table><br />


        <h3>খ. কারিগরি তথ্য:</h3>

        <h4>১. বেজলাইন সম্পর্কিত তথ্য বা অবস্থা পর্যালোচনা</h4>

        <label for="pbg"><b>(i) হাইড্রোলজিক্যাল অঞ্চল</b></label>

        <table>
            <tr>
                <td>উত্তর পশ্চিমাঞ্চল</td>
                <td>উত্তর কেন্দ্রীয় অঞ্চল</td>
                <td>উত্তর পূর্বাঞ্চল</td>
                <td>দক্ষিণ পশ্চিমাঞ্চল</td>
                <td>দক্ষিন কেন্দ্রীয় অঞ্চল</td>
                <td>দক্ষিন পূর্বাঞ্চল</td>
                <td>পূর্ব পাহাড়ী অঞ্চল</td>
                <td>নদী ও মোহনা অঞ্চল</td>
            </tr>
        </table><br />

        <label for="pbg"><b>(ii) বাংলাদেশ ব-দ্বীপ পরিকল্পনা-২১০০  হট স্পট</b></label>
        <table>
            <tr>
                <td>উপকূলীয় এলাকা </td>
                <td>বরেন্দ্র অঞ্চল ও ক্ষরা প্রবন অঞ্চল</td>
                <td>হাওর ও আকস্মিক বন্যাকবলিত অঞ্চল</td>
                <td>পার্বত্য চট্টগ্রাম অঞ্চল 	নদীর অঞ্চল এবং মোহনা </td>
                <td>নগর অঞ্চল</td>
            </tr>
        </table><br />

        <label for="pbg"><b>(iii) হাইড্রোলজিক্যাল সিস্টেম </b></label>
        <table>
            <tr>
                <th>নদী সমূহ</th>
                <th>খালসমূহ</th>
                <th>বিল সমূহ</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />


        <label for="pbg"><b>(iv) খাল, নদী এবং জলাভূমির মধ্যে সংযোগ</b></label> <p>Detail</p> <br />

        <label for="pbg"><b>v. অববাহিকা (ক্যাচমেন্ট) এলাকা; (হেক্টর)</b></label> <p>Peragraph</p> <br />


        <label for="pbg"><b>vi. বার্ষিক বৃষ্টিপাত (বিগত পাঁচ বছর); (মি. মি) </b></label>
        <table>
            <tr>
                <th>বছর ২০...</th>
                <th>বছর ২০...</th>
                <th>বছর ২০...</th>
                <th>বছর ২০...</th>
                <th>বছর ২০...</th>

            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />


        <label for="pbg"><b>vii. সর্বোচ্চ  বন্যা সমতল (ফ্লাড  লেভেল) ; (মিটার, পডিব্লউিড)</b></label> <p>Peragraph</p> <br />


        <label for="pbg"><b>viii. সর্বোচ্চ  পানির প্রবাহ (ডিসচার্জ); (কিউসেক)</b></label> <p>Peragraph</p> <br />


        <label for="pbg"><b>ix. বন্যার ধরণ</b></label>
        <table>
            <tr>
                <td>বৃষ্টির কারণে বন্যা</td>
                <td>নদীর দুকূল উপচিয়ে বন্যা</td>
                <td>আকষ্মিক বন্যা</td>
                <td>উপকূলীয় বন্যা</td>
                <td>ঝড়/ জলোচ্ছাসের কারণে  বন্যা</td>
            </tr>
        </table><br />

        <label for="pbg"><b>x.	ফ্লাড ফ্রিকোয়েন্সি এনালাইসিস  ; (মিটার, পডিব্লউিড)</b></label>
        <table>
            <tr>
                <th>২.৩৩ বছর</th>
                <th>৫ বছর</th>
                <th>১০ বছর</th>
                <th>২৫ বছর</th>
                <th>৫০ বছর</th>
                <th>১০০ বছর</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <label for="pbg"><b>xi. নিষ্কাশন (ড্রেইনেজ) ব্যবস্থা</b></label>
        <table>
            <tr>
                <td>Good</td>
                <td>Moderate</td>
                <td>Poor</td>
                <td>Others</td>
            </tr>
        </table><br />


        <label for="pbg"><b>xii. ভূপরিস্থ পানির গুনগত মান</b></label>
        <table>
            <tr>
                <th>লবনাক্ততা (পিপিএম)</th>
                <th>ডিও (মি.গ্রা/লিটার )</th>
                <th>টি.ডি.এস</th>
                <th>পি এইচ</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <label for="pbg"><b>xiii. ভূমির ধরন (শতকরা)</b></label>
        <table>
            <tr>
                <th>উচুঁ ভূমি F0 (০-৩০ সে.মি.)</th>
                <th>মধ্যম উচুঁ ভূমি F1 (৩০-৯০ সে.মি.)</th>
                <th>মধ্যম নিচু  ভূমি F2 (৯০-১৮০ সে.মি)</th>
                <th>নিচু ভূমি F3 (>১৮০-৩৬০ সে.মি.) </th>
                <th>অত্যন্ত নিচু জমি F4 (>৩৬০ সে.মি)</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>34%</td>
            </tr>
        </table><br />

        <label for="pbg"><b>i. উৎপাদিত শস্য/ফসলের নাম</b></label> <p>Peragraph</p> <br />

        <label for="pbg"><b>ii.	চাষাবাদকৃত খাদ্যশস্য এলাকা (হেক্টর)</b></label>
        <table>
            <tr>
                <th>ফসলের নাম</th>
                <th>এলাকা (হেক্টর)</th>
            </tr>
            <tr>
                <td>Rice</td>
                <td></td>
            </tr>
        </table><br />

        <label for="pbg"><b>iii. ফসল/ খাদ্যশস্য উৎপাদনের পরিমান (টন)</b></label> <p>Peragraph</p> <br />

        <label for="pbg"><b>iv. মৎস উৎপাদন ও বৈচিত্র্য</b></label>
        <table>
            <tr>
                <th>উৎপাদনের পরিমান (টন)</th>
                <th>বৈচিত্র্য</th>
                <th>অভিপ্রয়াণ</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <label for="pbg"><b>v. প্রকল্প এলাকায় বিদ্যমান গাছপালা ও পশুপাখি </b></label> <p>Peragraph</p> <br />

        <label for="pbg"><b>vi. আর্থ সামাজিক অবস্থা </b></label>
        <table>
            <tr>
                <th>ভূমি হারা জনগোষ্ঠী (শতকরা)</th>
                <th>ছোট / প্রান্তিক কৃষক (শতকরা )</th>
                <th>গড় মাসিক আয়</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <h4>২. ইস্যু ও চ্যালেঞ্জ সমূহ বা সমস্যা</h4> <p>Peragraph</p> <br />

        <h4>৩. প্রকল্প প্রণয়ন পর্যায়ে স্টেকহোল্ডারগনের সহিত আলাপ-আলোচনা </h4>  <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <table>
            <tr>
                <th>ইতিবাচক প্রতিক্রিয়া </th>
                <th>নেতিবাচক প্রতিক্রিয়া</th>
                <th>অংশগ্রহনকারীদের তালিকা</th>
                <th>সভার কার্য বিবরণী</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>abcd</td>
                <td>Upload</td>
                <td>Upload</td>
            </tr>
        </table><br />

        <h4>4.	উদ্দেশ্য পূরনের অপশনসমূহ বিশ্লেষণ </h4>  <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <table>
            <tr>
                <th>অপশনসমূহ</th>
                <th>বর্ণনা	</th>
                <th>মন্তব্য</th>

            </tr>
            <tr>
                <td>অপশন-১</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>অপশন-২</td>
                <td></td>
                <td></td>

            </tr>
        </table><br />

        <h4>৫.	ডিজাইন (প্রয়োজন হইলে)</h4>  <br />
        <table>
            <tr>
                <th>বিবরন</th>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
            </tr>
            <tr>
                <td>প্রথমিক নকশা</td>
                <td>✓</td>
                <td></td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
            <tr>
                <td>পূর্ণাঙ্গ নকশা</td>
                <td></td>
                <td>✓</td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />
        <h4>৬. পরিবেশগত  ও সামাজিক প্রভাব</h4>  <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <p> <b>(i) পরিবেশগত প্রভাব</b></p> <br />
        <table>
            <tr>
                <th>বিবরন</th>
                <th>প্রকল্প পূর্ববর্তী পরিস্থিতি</th>
                <th>প্রকল্প পরবর্তী পরিস্থিতি</th>
                <th>ইতিবাচক/ নেতিবাচক প্রভাব</th>
                <th>প্রশমন পরিকল্পনা</th>
            </tr>
            <tr>
                <td>বন্যা </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>খাল নদী ও জলাভূমির মধ্যে সংযোজন</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>নিষ্কাশন অবস্থা</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ফসল উৎপাদন (টন)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <p> <b>(ii) সামাজিক প্রভাব</b></p> <br />
        <table>
            <tr>
                <th>বিবরন</th>
                <th>প্রকল্প পূর্ববর্তী পরিস্থিতি</th>
                <th>প্রকল্প পরবর্তী পরিস্থিতি</th>
                <th>ইতিবাচক/ নেতিবাচক প্রভাব</th>
                <th>প্রশমন পরিকল্পনা</th>

            </tr>
            <tr>
                <td>জমি অধিগ্রহন (হেক্টর)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>অনৈচ্ছিক পুর্নবাসন</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>কর্মসংস্থান</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>পরিবহন এবং যোগাযোগ</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>সামাজিক দ্বন্দ্ব</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>৭.	প্রকল্পটি তৈরিতে উপযুক্ত ও পরীক্ষিত  বিশ্লেষণি প্রক্রিয়া, মুল্যায়ন পদ্ধতি, কৌশল ও টুলস্ ব্যবহার করা হয়েছে কিনা</h4>  <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>৮.	অর্থনৈতিক ও আর্থিক বিশ্লেষণ</h4>  <br />
        <table>
            <tr>
                <th>বিবরন</th>
                <th>মান (%)</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
            </tr>
            <tr>
                <td>ই.আই.আর.আর</td>
                <td>%</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>এফ.আই.আর.আর</td>
                <td>%</td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h3>(গ) দলিল প্রতিপালন</h3><br />
        <h4>১.  প্রকল্পটি জাতীয় পানি নীতির সাথে সামঞ্জস্যপূর্ণ কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
                <th>ডকুমেন্ট লিংক</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <ul>
            <li>অনুচ্ছেদ ৪.১</li>
            <li>অনুচ্ছেদ ৪.২</li>
            <li>অনুচ্ছেদ ৪.৬</li>
        </ul>

        <h4>২.	প্রকল্পটি জাতীয় পানি ব্যবস্থাপনা পরিকল্পনা (এনডবিøউএমপি) এর সহিত সামঞ্জস্যপূর্ণ কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
                <th>ডকুমেন্ট লিংক</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <ul>
            <li>MR 004</li>
            <li>DM 003</li>
            <li>TR 005</li>
        </ul>

        <h4>৩.	প্রকল্পটি পানি সম্পদ ব্যবস্থাপনায় চলমান পঞ্চবার্ষিকী পরিকল্পনা এর সাথে সামঞ্জস্যপূর্ণ কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>

            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>৪. প্রকল্পটি টেকসই উন্নয়ন লক্ষ্যমাত্রা (এসডিজি) এর সাথে সামঞ্জস্যপূর্ণ কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
                <th>ডকুমেন্ট লিংক</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <ul>
            <li>গোল ১</li>
            <li>গোল ৪</li>
            <li>গোল ১৬</li>
        </ul>
        <p>এসডিজি ৬.০ এর কোন সূচকের সহিত সামঞ্জস্যপূর্ণ</p> <br />
        <ul>
            <li>৬.১.১</li>
            <li>৬.৪.১</li>
            <li>৬.৬.১</li>
        </ul>

        <h4>৫.	প্রকল্পটি বাংলাদেশ ব-দ্বীপ পরিকল্পনা-২১০০ এর সাথে সামঞ্জস্যপূর্ণ কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
                <th>ডকুমেন্ট লিংক</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <ul>
            <li>অভীষ্ট লক্ষ্য ১</li>
            <li>অভীষ্ট লক্ষ্য ৪</li>
            <li>অভীষ্ট লক্ষ্য ৬</li>
        </ul>

        <h4>৬. প্রকল্পটি উপকূলীয় অঞ্চল নীতির সাথে সামঞ্জস্যপূর্ণ কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
                <th>ডকুমেন্ট লিংক</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>৭.	প্রকল্পটি কৃষি নীতির সাথে সামঞ্জস্যপূণর্  কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
                <th>ডকুমেন্ট লিংক</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>৮.	প্রকল্পটি মৎস্য নীতির সাথে সামঞ্জস্যপূণর্  কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
                <th>ডকুমেন্ট লিংক</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>৯. প্রকল্পটি সমন্বিত পানি সম্পদ ব্যবস্থাপনা (আইডবিøউআরএম) ধারণার সাথে সংগতিপূর্ণ কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>

            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>১০. প্রকল্পটি অংশগ্রহণমূলক পানি ব্যবস্থাপনা (জিপিডবিøউএম) এর দিকনির্দেশনা অনুসরণপূর্বক প্রস্তুত করা হয়েছে কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />
        <p>গ্রুপ গঠনের ধরন</p> <br />
        <ul>
            <li>ডবিøউ.এম.এ</li>
            <li>ডবিøউ.এম.জি</li>
            <li>অন্যান্য</li>
        </ul>

        <h4>১১.	প্রকল্পটির ফেজিবিলিটি স্ট্যাডি (সম্ভাব্যতা যাচাই সমীক্ষা) নিরুপন করা হয়েছে কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>১২.	অন্যান্য সংস্থা, ব্যক্তি/গোষ্ঠি কর্তৃক পরিচালিত বা সমাপ্ত প্রকল্পসমূহের সহিত প্রস্তাবিত প্রকল্পটির কোন দ্বৈততা বা পুনরাবৃত্তি আছে কিনা বা থাকলেও সংস্থা, ব্যক্তি বা গোষ্ঠির সহিত সমন্বয় করা হয়েছে কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>১৩.	প্রকল্পটি গুরুত্বপূর্ণ সামাজিক বিষয়াদি এবং নারী, শিশু, দরিদ্র ও অনগ্রসর  জনগোষ্ঠীর প্রতি বিশেষ গুরুত্ব দিয়ে প্রস্তুত করা হয়েছে কিনা</h4> <br />
        <table>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <th>আবেদনকারীর মন্তব্য</th>
                <th>কর্তৃপক্ষের মন্তব্য</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h3>(ঘ) প্রশাসনিক </h3>
        <ol type="I">
            <li>(১) জেলা সম্মিলিত পানি সম্পদ ব্যবস্থাপনা কমিটি/উপজেলা সম্মিলিত পানি সম্পদ ব্যবস্থাপনা কমিটি /ইউনিয়ন সম্মিলিত পানি সম্পদ ব্যবস্থাপনা কমিটি কর্তৃক অনাপত্তি পত্র (NOC)</li>
            <li>(২)  সরকার কর্তৃক অনুমোদিত হারে চালান বা ব্যাংক ড্রাফট বা পে-অর্ডার  নম্বর</li>
        </ol>

        <h4>(ঙ) সুপারিশ</h4> <br />
        <table>
            <tr>
                <th colspan="3">ছাড় পত্র</th>
            </tr>
            <tr>
                <th>হ্যা</th>
                <th>না</th>
                <td>শর্ত সাপেক্ষে</td>
            </tr>
        </table><br />

    </div>

</body>
</html>
