
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Application</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- app favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- app css -->
    <!-- jquery -->
    <script src="~/libs/jquery/dist/jquery.js"></script>
    <!-- form validation plugin js-->
    <script src="~/libs/parsleyjs/parsley.min.js"></script>

    <script type="text/javascript">
        jQuery.noConflict();
    </script>

    <link rel="stylesheet" type="text/css" href="~/css/PDF.css" />
</head>
<body>
    <h3 class="HeaderTitle">Application for Clearance Certificate</h3>
    <h4 class="HeaderSubTitle">(Flood Control/Management Project)</h4>
        
    <div class="container">
        <div class="row lineGap">
            <div class="col">
                <p>To</p>
                <p>Executive Committee</p>
                <p>National Water Resources Project Committee</p>
            </div>
        </div>
        <div class="row lineGap">
            <div class="col">
                <p><strong>Through : </strong>Director General, Water Resources Planning Organization</p>
            </div>
        </div>
        <div class="row lineGap">
            <div class="col">
                <p>
                    I, the undersigned, willing to initiate and implement a project on Flood Control/Management,
                    And I am hereby requesting for clearance certificate with relevant attachments
                </p>
            </div>
        </div>
        <div class="row lineGap">
            <div class="col">
                <p><strong>Full Name and Address of Applicant : </strong></p>
            </div>
            <div class="col">
                <p>Mr. ABCD XYZ,</p>
                <p>H-06, R-23/C, Gulshan-1, Dhaka-1212</p>
                <p>Mobile: 01XXXXXXXXX</p>
                <p>E-Mail: abcd@xyz.com</p>
            </div>
        </div>
        <h3>A. General Information</h3>
        <div class="row">
            <div class="col">
                <label for="pname"><b>i. Project Name:</b></label>
            </div>
            <div class="col">
                <p id="ProjectName">Narayangang River Flood </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="pbg"><b>ii. Project Background and Rationale</b></label>
            </div>
            <div class="col">
                <p id="BackgroundAndRationale">Background words </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="pbg"><b>iii. Project Target</b></label>
            </div>
            <div class="col">
                <p id="ProjectTarget">Project target </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="pbg"><b>iv. Project Objective</b></label>
            </div>
            <div class="col">
                <p id="ProjectObjective">obj </p>
            </div>
        </div>

        <div class="row">
            <label for="pbg"><b>iv. Project Location</b></label>
        </div>
        <div class="row">
            <table style="width:100%">
                <tr>
                    <th>Union</th>
                    <th>Upazila</th>
                    <th>District</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                </tr>
                <tr>
                    <td>Chasara</td>
                    <td>Narayangonj</td>
                    <td>Dhaka</td>
                    <td>120.456789</td>
                    <td>36.456789</td>
                </tr>
                @*<tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>80</td>
                </tr>*@
            </table>
        </div>
        <br />

        <div class="row">
            <div class="col">
                <label for="pbg"><b>viii. Estimated Project Cost</b></label>
            </div>
            <div class="col">
                <p id="ProjectEstimatedCost">500000</p> <br />
            </div>
        </div>


        <label for="pbg"><b>vii. Project Period</b></label>

        <table>
            <tr>
                <th>Starting time</th>
                <th>Completion time</th>
            </tr>
            <tr>
                <td id="ProjectStartDate">23/5/19</td>
                <td id="ProjectCompletionDate">13/9/19</td>
            </tr>
        </table><br />


        <h3>B. Technical Information</h3>

        <h4>1. Discussion about baseline related information or situation</h4>

        <label for="pbg"><b>vi.	Hydrological Region</b></label>

        <table>
            <tr>
                <td>NC</td>
                <td>NE</td>
                <td>NW</td>
                <td>SC</td>
                <td>SE</td>
                <td>SW</td>
                <td>RE</td>
                <td>EH</td>
            </tr>
        </table><br />

        <label for="pbg"><b>vii. Bangladesh Delta Plan 2100 Hot Spot</b></label>
        <table>
            <tr>
                <td>Coastal areas</td>
                <td>Barind Tract and drought-prone region</td>
                <td>Hoar (backswamp) and flash flood-prone areas</td>
                <td>Chittagong Hill Tract region</td>
            </tr>
        </table><br />

        <label for="pbg"><b>iii. Hydrological System </b></label>
        <table>
            <tr>
                <th>Major Rivers (km)</th>
                <th>Khals (km)</th>
                <th>Beels (ha)</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>erty</td>
                <td>erty</td>
            </tr>
            <tr>
                <td>jbhj</td>
                <td>xhcj</td>
                <td>rtyu</td>
            </tr>
        </table><br />


        <label for="pbg"><b>iv.	Connectivity amid khals, river and wetland</b></label> <p>Detail</p> <br />

        <label for="pbg"><b>v. Catchment Area (ha)</b></label> <p>Peragraph</p> <br />


        <label for="pbg"><b>vi. Annual Rainfall (Last five years) </b></label>
        <table>
            <tr>
                <th>Year 20….</th>
                <th>Year 20….</th>
                <th>Year 20….</th>
                <th>Year 20….</th>
                <th>Year 20….</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />


        <label for="pbg"><b>vii. Highest Flood Level (m PWD)</b></label> <p>Peragraph</p> <br />


        <label for="pbg"><b>viii. Maximum Discharge (m3/s)</b></label> <p>Peragraph</p> <br />


        <label for="pbg"><b>ix. Types of Flood</b></label>
        <table>
            <tr>
                <td>Rainfall Flood</td>
                <td>River Flood</td>
                <td>Flash Flood</td>
                <td>Coastal/ Tidal Flood</td>
            </tr>
        </table><br />

        <label for="pbg"><b>x.	Flood Frequency Analysis (Maximum water level in m, PWD)</b></label>
        <table>
            <tr>
                <th>1 in  2.33 years</th>
                <th>1 in  5 years</th>
                <th>1 in  10 years</th>
                <th>1 in  25 years</th>
                <th>1 in  50 years</th>
                <th>1 in  100 years</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <label for="pbg"><b>xi. Drainage Condition </b></label>
        <table>
            <tr>
                <td>Good</td>
                <td>Moderate</td>
                <td>Poor</td>
                <td>Others</td>
            </tr>
        </table><br />


        <label for="pbg"><b>xii. Surface Water Quality</b></label>
        <table>
            <tr>
                <th>Salinity (ppm)</th>
                <th>DO (mg/l)</th>
                <th>TDS</th>
                <th>pH</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <label for="pbg"><b>xiii. Land Type (Percent)</b></label>
        <table>
            <tr>
                <th>High land F0 (0-30 cm)</th>
                <th>Medium High land F1 (30-90 cm)</th>
                <th>Medium Low land F2 (90-1  80 cm)</th>
                <th>Low land F3 (>180-360 cm)</th>
                <th>Very Low land F4 (>360 cm)</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <label for="pbg"><b>i. Cultivable crops</b></label> <p>Peragraph</p> <br />

        <label for="pbg"><b>ii.	Irrigated Crop Area (ha)</b></label>
        <table>
            <tr>
                <th>Crops name</th>
                <th>Area</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <label for="pbg"><b>iii. Crop production (Ton)</b></label> <p>Peragraph</p> <br />

        <label for="pbg"><b>iv. Fish Production, Diversity and Migration</b></label>
        <table>
            <tr>
                <th>Production</th>
                <th>Diversity</th>
                <th>Migration</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <label for="pbg"><b>v. Flora and Fauna </b></label> <p>Peragraph</p> <br />

        <label for="pbg"><b>vi. Socio Economic Condition</b></label>
        <table>
            <tr>
                <th>% of land less people</th>
                <th>% of small farmer</th>
                <th>Average monthly income</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <h4>2. Issue, Challenge or Problem</h4> <p>Peragraph</p> <br />

        <h4>3. Discussion with stakeholders during starting of the project </h4>  <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />
        <p>If yes</p> <br />
        <table>
            <tr>
                <th>Positive Feedback</th>
                <th>Negative Feedback</th>
                <th>Participant list</th>
                <th>Meeting minutes</th>
            </tr>
            <tr>
                <td>abcd</td>
                <td>abcd</td>
                <td>Upload</td>
                <td>Upload</td>
            </tr>
        </table><br />

        <h4>4.	Analyze Options to fulfill objective </h4>  <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />
        <p>If yes</p> <br />
        <table>
            <tr>
                <th>Option</th>
                <th>Description</th>
                <th>Remarks</th>

            </tr>
            <tr>
                <td>Option 1</td>
                <td>abcd</td>
                <td>Upload</td>

            </tr>
            <tr>
                <td>Option 2</td>
                <td>abcd</td>
                <td>Upload</td>

            </tr>
        </table><br />

        <h4>5. Design submitted with project document</h4>  <br />
        <table>
            <tr>
                <th>Parameters</th>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>Preliminary Design</td>
                <td>✓</td>
                <td></td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
            <tr>
                <td>Detail Design</td>
                <td></td>
                <td>✓</td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />
        <h4>6. Environmental and Social Impact Assessment  </h4>  <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <p>If yes</p> <br />
        <p> <b>(a) Environmental Impact Assessment</b></p> <br />
        <table>
            <tr>
                <th>Parameters</th>
                <th>Pre Project Situation</th>
                <th>Post Project Situation</th>
                <th>Positive/ Negative Impact</th>
                <th>Mitigation Plan</th>

            </tr>
            <tr>
                <td>i. Flooding</td>
                <td>abcd</td>
                <td>Upload</td>
                <td>abcd</td>
                <td>Upload</td>

            </tr>
            <tr>
                <td>ii. Connectivity with khals/rivers/wetland</td>
                <td>abcd</td>
                <td>Upload</td>
                <td>abcd</td>
                <td>Upload</td>
            </tr>
            <tr>
                <td>iii. Drainage Congestion</td>
                <td>abcd</td>
                <td>Upload</td>
                <td>abcd</td>
                <td>Upload</td>
            </tr>
            <tr>
                <td>iv. Water Quality</td>
                <td>abcd</td>
                <td>Upload</td>
                <td>abcd</td>
                <td>Upload</td>
            </tr>
        </table><br />

        <p> <b>(b) Social Impact Assessment</b></p> <br />
        <table>
            <tr>
                <th>Parameters</th>
                <th>Pre Project Situation</th>
                <th>Post Project Situation</th>
                <th>Positive/ Negative Impact</th>
                <th>Mitigation Plan</th>

            </tr>
            <tr>
                <td>i. Land Acquisition (ha)</td>
                <td>abcd</td>
                <td>Upload</td>
                <td>abcd</td>
                <td>Upload</td>

            </tr>
            <tr>
                <td>ii.	Involuntary resettlement</td>
                <td>abcd</td>
                <td>Upload</td>
                <td>abcd</td>
                <td>Upload</td>
            </tr>
            <tr>
                <td>iii. Employment Opportunity</td>
                <td>abcd</td>
                <td>Upload</td>
                <td>abcd</td>
                <td>Upload</td>
            </tr>
            <tr>
                <td>iv.	Transportation and Communication</td>
                <td>abcd</td>
                <td>Upload</td>
                <td>abcd</td>
                <td>Upload</td>
            </tr>
            <tr>
                <td>v. Social conflict</td>
                <td>abcd</td>
                <td>Upload</td>
                <td>abcd</td>
                <td>Upload</td>
            </tr>
        </table><br />

        <h4>7. Use of Appropriate tools, technics, analytical procedures etc</h4>  <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td>abcd</td>
                <td>abcd</td>
            </tr>
        </table><br />

        <h4>8. Economical & Financial Analysis </h4>  <br />
        <table>
            <tr>
                <th>Item</th>
                <th>Unit</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>i.	EIRR (Economic Internal Rate of Return)</td>
                <td>%</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>ii.	FIRR (Financial Internal Rate of Return)</td>
                <td>%</td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h3>C.	Deed Obligatory</h3><br />
        <h4>9. Compatibility with National Water Policy</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
                <th>Document Link</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />
        <p>If yes</p> <br />
        <ul>
            <li>Article 4.1</li>
            <li>Article 4.3</li>
            <li>Article 4.7</li>
        </ul>

        <h4>10.	Compatibility with National Water Management Plan (NWMP)</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
                <th>Document Link</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />
        <p>If yes</p> <br />
        <ul>
            <li>MR 004</li>
            <li>DM 003</li>
            <li>TR 005</li>
        </ul>

        <h4>11.	Compatibility with Current Fifth Year Plan (FYP)</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>12. Compatibility with Sustainable Development Goal (SDG)</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
                <th>Document Link</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />
        <p>If yes</p> <br />
        <ul>
            <li>Goal 1</li>
            <li>Goal 5</li>
            <li>Goal 18</li>
        </ul>
        <p>SDG 6.0 Indicators</p> <br />
        <ul>
            <li>6.1.1</li>
            <li>6.4.1</li>
            <li>6.6.1</li>
        </ul>

        <h4>13.	Compatibility with Bangladesh Delta Plan 2100</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
                <th>Document Link</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />
        <p>If yes</p> <br />
        <ul>
            <li>Goal 1</li>
            <li>Goal 5</li>
            <li>Goal 18</li>
        </ul>

        <h4>14. Compatibility with Coastal Zone Policy</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
                <th>Document Link</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>15.	Compatibility with Agricultural Policy</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
                <th>Document Link</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>16.	Compatibility with Fisheries Policy</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
                <th>Document Link</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>17. Compatibility with Integrated Water Resource Management (IWRM)</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>18. Compatibility with GPWM</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />
        <p>If yes(Type of group formation)</p> <br />
        <ul>
            <li>WMA</li>
            <li>WMF</li>
            <li>Others</li>
        </ul>

        <h4>19.	Feasibility Study</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>20. Duplication of the project</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h4>21. Project development by emphasizing on underprivileged people, child, women and important social issues</h4> <br />
        <table>
            <tr>
                <th>Yes</th>
                <th>No</th>
                <th>Applicant Comments</th>
                <th>Authority Comments</th>
            </tr>
            <tr>
                <td>✓</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br />

        <h3>D. Administrative</h3>
        <ol type="I">
            <li>NOC from District IWRM committee /Upazila IWRM committee/Union IWRM Committee</li>
            <li>Chillan/Bank Draft/Pay order No</li>
        </ol>

        <h4>22.	Recommendation</h4> <br />
        <table>
            <tr>
                <th colspan="3">Clearance</th>
            </tr>
            <tr>
                <td>Yes</td>
                <td>No</td>
                <td>Conditional</td>
            </tr>
        </table><br />

        <table>
            <tr>
                <td></td>
            </tr>
        </table><br />
                
        <div class="row">
            <div class="col">
                <p> I certify that  the information and attachment provided with this application is correct to the best of my knowledge and belief. </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p></p>
                <p>----------------------</p>
                <p>Signature of Applicant</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function SetTextValue(control, val) {
            return jQuery('#' + control).text(val);
        }

        jQuery(document).ready(function () {
            //BindData();
        });

        
    </script>
</body>
</html>