
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="page-title-box">
        <h4 class="page-title">Clearance Certificate Video Tutorial</h4>
    </div>
    <div class="col-md-12">
        <video controls="controls" style="width: 100%;">
            <source src="~/docs/tutorial/video/cc_warpo_video_tutorial.mp4" type="video/mp4" />
        </video>
    </div>
</div>