body {
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}
tr {
    page-break-inside: avoid;
}

.container {
    font-family:Verdana, Arial, Helvetica, Arial;
    padding: 5px 50px;
    font-size:11px;
}

.lineGap {
    padding:5px 0px;
}

.HeaderTitle {
    font-family: Verdana, Arial, Helvetica, Arial;    
    text-align: center;
    font-size:14px;
}

.HeaderSubTitle {
    font-family: Verdana, Arial, Helvetica, Arial;
    text-align: center;
    font-size: 12px;
}