@{
    ViewData["Title"] = "Send Hearing Email to Applicant";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var ProjectId = ViewData["ProjectId"];
    var ApplicantEmail = ViewData["ApplicantEmail"].ToString();
    var Success = ViewData["SuccessEmailSend"].ToString();
}

@using (Html.BeginForm("send", "hearing", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormSendHearingEmailSubmit", role = "form" }))
{
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="card">
                <div id="divHearingEmailSendPrint" class="collapse show">
                    <div class="card-body" style="padding-left: 3.5rem !important;padding-right: 3.5rem !important;">
                        <input type="hidden" id="ProjectId" name="ProjectId" value="@ProjectId" />
                        <input type="hidden" id="LanguageId" name="LanguageId" value="" />
                        <input type="hidden" id="ApplicantEmail" name="ApplicantEmail" />
                        <input type="hidden" id="HearingReason" name="HearingReason" />

                        <div class="form-group">
                            <label for="ApplicantEmail">
                                <span>Applicant Email</span>
                            </label>
                            <input type="text" id="AppEmail" name="AppEmail" value="@ApplicantEmail" readonly disabled class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="HearingEmailCC">
                                <span>CC</span>
                            </label>
                            <input type="text" id="HearingEmailCC" name="HearingEmailCC" class="form-control" />
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="DateOfHearing">
                                    <span>Date of Hearing</span>
                                </label>
                                <input type="date" id="DateOfHearing" name="DateOfHearing" maxlength="10" class="form-control datepicker" />
                            </div>

                            <div class="form-group col-md-6">
                                <label for="TimeOfHearing">
                                    <span>Time of Hearing</span>
                                </label>
                                <input type="time" id="TimeOfHearing" name="TimeOfHearing" maxlength="11" class="form-control timepicker" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="HearingPlace">
                                <span>Hearing Place</span>
                            </label>
                            <input type="text" id="HearingPlace" name="HearingPlace" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="HearingSubject">
                                <span>Subject</span>
                            </label>
                            <input type="text" id="HearingSubject" name="HearingSubject" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="divHearingEmailEditor">
                                <span>Hearing Reasons</span>
                            </label>
                            <div id="divHearingEmailEditor">
                                Write from here...
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row justify-content-md-center">
        <div class="form-group mb-0">
            <button id="btnOkSendEmailHearing" type="button" class="btn btn-blue waves-effect waves-light">
                <span class="btn-label"><i class="mdi mdi-send"></i></span>
                Send
            </button>

            <button id="btnCancelSendEmailHearing" type="reset" class="btn btn-secondary waves-effect waves-light"
                    onclick="javascript: window.close();">
                <span class="btn-label"><i class="mdi mdi-cancel"></i></span>
                Cancel
            </button>
        </div>
    </div>
}

@section PageScripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var success = '@Success';
            if (success == "success") {
                Notification('success', 'Hearing Email Send', 'Your hearing email has been successfully sent to the applicant.');

                setTimeout(
                    function () {
                        window.close();
                    }, 5000);
            } else {
                if (success != "not yet") {
                    Notification('error', 'Email Send Error', success);
                }
            }

            $("#divHearingEmailEditor").summernote({
                height: 150,
                minHeight: null,
                maxHeight: null,
                focus: !1
            });

            jQuery("#btnOkSendEmailHearing").click(function () {
                var contents = $('#divHearingEmailEditor').summernote('code');
                console.log(contents);

                $("#ApplicantEmail").val($("#AppEmail").val());
                //$("#HearingSubject").val($("#HearingSub").val());
                $("#HearingReason").val(contents);
                $("#FormSendHearingEmailSubmit").submit();
            });
        });
    </script>
}