<form id="form" name="form" action="/uploader" enctype="multipart/form-data" method="post">
    <div class="buttons">
        <div class="upload-button">
            <div class="label">Click me!</div>
            <input id="files" name="files" type="file" multiple onchange="uploadFiles('files');" />
        </div>
    </div>
</form>

@section PageScripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {

        });

        var url = '@Url.Action("UploadFile", "form")';
        function uploadFiles(inputId) {
            var input = document.getElementById(inputId);
            var files = input.files;
            var formData = new FormData();

            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);

                console.log(files[i]);
            }

            formData.append("projectid", 50);
            formData.append("foldername", 'images/ProjectLocationPhotos');
            formData.append("controltitle", 'project_location');
            
            $.ajax({
                url: url,
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    if (data.message != '')
                        Swal.fire(data.title, data.message, data.status);
                }, error: function (jqXHR, exception) {
                    var errorMsg = AjaxErrorHandle(jqXHR, exception);
                    Swal.fire('Error Occured', errorMsg, 'error');
                }
            });
        }
    </script>
}