@using static WrpCcNocWeb.Models.TempModels.SelectedForm

@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("index", "form", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormSelection", role = "form" }))
{
    <div class="row">
        <div class="col-12">
            <div class="card-box widget-inline">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ProjectTypeId">Select Form Type</label>
                            @Html.DropDownList("ProjectTypeId", null, string.Empty, new { @id = "ProjectTypeId", @class = "form-control", @style = "width: 100%;" })
                            @Html.Hidden("ProjectTitle")
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="LanguageTypeId">Choose Form Language</label>
                            <select id="LanguageTypeId" name="LanguageTypeId" class="form-control" style="width: 100%;">
                                <option value="">Choose...</option>
                                <option value="1">বাংলা</option>
                                <option value="2">English</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="form-group">
                        <button id="btnSubmitFormSelection" class="btn btn-info" type="button" style="width: 250px;"> Next </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section PageScripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery("#ProjectTypeId").change(function () {
                var text = jQuery("#ProjectTypeId option:selected").text();
                jQuery("#ProjectTitle").val(text);
            });

            jQuery("#btnSubmitFormSelection").click(function () {
                var ProjectTypeId = $("#ProjectTypeId").val();
                var LanguageTypeId = $("#LanguageTypeId").val();

                if (ProjectTypeId != '') {
                    if (LanguageTypeId != '') {
                        $("#FormSelection").submit();
                    } else {
                        Swal.fire("Select Language", "Please select a preferred language.", "warning");
                    }
                } else {
                    Swal.fire("Project Type", "Please select a project type.", "warning");
                }
                
            });
        });
    </script>
}