@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var language = HttpContextAccessor.HttpContext.Request.Cookies["FormLanguage"].ToString();
}

<div id="gen-info-form">
    <div class="form-group">
        <label for="ProjectName">
            @{if (language == "1")
                { <span>প্রকল্প শিরোনাম</span>}
                else
                {<span>Project Name</span>}
            }
            <span class="text-danger bold">*</span>
        </label>
        <input type="text" id="ProjectName" name="ProjectName" class="form-control" data-toggle="tooltip"
               data-placement="left" title="" data-original-title="Press Control and b (Ctrl + b) key from keyboard to change language." />
    </div>

    <div class="form-group">
        <label for="BackgroundAndRationale">
            @{if (language == "1")
                { <span>প্রকল্পের পূর্ব ইতিহাস ও যৌক্তিকতা</span>}
                else
                {<span>Project Background and Rationale</span>}
            }<span class="text-danger bold">*</span>
        </label>
        <textarea id="BackgroundAndRationale" name="BackgroundAndRationale" class="form-control" rows="2"
                  data-toggle="tooltip" data-placement="left" title="" data-original-title="Press Control and b (Ctrl + b) key from keyboard to change language."></textarea>
    </div>

    <div class="form-group">
        <label for="ProjectTarget">
            @{if (language == "1")
                { <span>প্রকল্পের লক্ষ্য</span>}
                else
                {<span>Project Target</span>}
            }<span class="text-danger bold">*</span>
        </label>
        <textarea id="ProjectTarget" name="ProjectTarget" class="form-control" rows="2"
                  data-toggle="tooltip" data-placement="left" title="" data-original-title="Press Control and b (Ctrl + b) key from keyboard to change language."></textarea>
    </div>

    <div class="form-group">
        <label for="ProjectObjective">
            @{if (language == "1")
                { <span>প্রকল্পের উদ্দেশ্য</span>}
                else
                {<span>Project Objective</span>}
            }<span class="text-danger bold">*</span>
        </label>
        <textarea id="ProjectObjective" name="ProjectObjective" class="form-control" rows="2"
                  data-toggle="tooltip" data-placement="left" title="" data-original-title="Press Control and b (Ctrl + b) key from keyboard to change language."></textarea>
    </div>

    <div class="form-group">
        <label for="ProjectActivity">
            @{if (language == "1")
                { <span>প্রকল্পের ক্রিয়াকলাপ/ উপাদানসমূহ</span>}
                else
                {<span>Project Activities/ Components</span>}
            }
        </label>
        <textarea id="ProjectActivity" name="ProjectActivity" class="form-control" rows="2"
                  data-toggle="tooltip" data-placement="left" title="" data-original-title="Press Control and b (Ctrl + b) key from keyboard to change language."></textarea>
    </div>

    <div class="divProjectPeriod">
        <fieldset>
            <legend>
                <label for="ProjectPeriod" class="bold">
                    @{if (language == "1")
                        { <span>প্রকল্প সময়কাল</span>}
                        else
                        {<span>Project Period</span>}
                    }
                </label>
            </legend>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="ProjectStartDate">
                        @{if (language == "1")
                            { <span>প্রাম্ভিক কাল</span>}
                            else
                            {<span>Starting Time</span>}
                        }
                    </label>
                    <input type="date" id="ProjectStartDate" name="ProjectStartDate" class="form-control datetimepicker" />
                </div>

                <div class="form-group col-md-6">
                    <label for="ProjectCompletionDate">
                        @{if (language == "1")
                            { <span>সমাপ্তি কাল</span>}
                            else
                            {<span>Completion Time</span>}
                        }
                    </label>
                    <input type="date" id="ProjectCompletionDate" name="ProjectCompletionDate" class="form-control datetimepicker" />
                </div>
            </div>
        </fieldset>
    </div>

    <div class="form-group">
        <label for="ProjectEstimatedCost">
            @{
                if (language == "1")
                { <span>প্রকল্প ব্যয়</span>}
                else
                {<span>Estimated Project Cost</span>}
            }
        </label>
        <input type="number" maxlength="10" min="0" id="ProjectEstimatedCost" name="ProjectEstimatedCost" class="form-control" />
    </div>

    <div class="clearfix"></div>
    <br />

    <fieldset>
        <legend>
            @if (language == "1")
            {<span>প্রকল্পের অবস্থান</span>}
            else
            {<span>Project Location</span>}
        </legend>
        <div class="card-box">
            @{ Html.RenderPartial("form/_3Location"); }
        </div>
    </fieldset>

    <div class="form-group mb-0">
        <button id="btnSaveGeneral" type="button" class="btn btn-info waves-effect waves-light">
            <span class="btn-label"><i class="mdi mdi-content-save"></i></span>
            @if (language == "1")
            {
                <span>সংরক্ষণ করুন</span>
            }
            else
            {
                <span>Save</span>
            }
            <span class="myspinner spinner-border spinner-border-sm mr-1 d-none"></span>
        </button>

        <button id="btnClearGeneral" type="button" class="btn btn-secondary waves-effect waves-light">
            <span class="btn-label"><i class="mdi mdi-close-outline"></i></span>
            @if (language == "1")
            {
                <span>পরিষ্কার করুন</span>
            }
            else
            {
                <span>Clear</span>
            }
        </button>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery("#btnSaveGeneral").click(function () {
            var ProjectName = GetTextValue('ProjectName');
            var BackgroundAndRationale = GetTextValue('BackgroundAndRationale');
            var ProjectTarget = GetTextValue('ProjectTarget');
            var ProjectObjective = GetTextValue('ProjectObjective');
            var ProjectStartDate = GetTextValue('ProjectStartDate');
            var ProjectCompletionDate = GetTextValue('ProjectCompletionDate');
            var ProjectEstimatedCost = GetTextValue('ProjectEstimatedCost') == '' ? '0' : GetTextValue('ProjectEstimatedCost');

            if (ProjectName == '') {
                Notification('warning', 'Required Field', 'Project name can not be left empty.');
                Swal.fire('Required Field', 'Project name can not be left empty.', 'warning');
                jQuery('#ProjectName').focus();
                return;
            }

            if (BackgroundAndRationale == '') {
                Notification('warning', 'Required Field', 'Project background and rationale can not be left empty.');
                Swal.fire('Required Field', 'Project background and rationale can not be left empty.', 'warning');
                jQuery('#BackgroundAndRationale').focus();
                return;
            }

            if (ProjectTarget == '') {
                Notification('warning', 'Required Field', 'Project target can not be left empty.');
                Swal.fire('Required Field', 'Project target can not be left empty.', 'warning');
                jQuery('#ProjectTarget').focus();
                return;
            }

            if (ProjectObjective == '') {
                Notification('warning', 'Required Field', 'Project objective can not be left empty.');
                Swal.fire('Required Field', 'Project objective can not be left empty.', 'warning');
                jQuery('#ProjectObjective').focus();
                return;
            }

            if (ProjectStartDate == '') {
                Notification('warning', 'Required Field', 'Please select a project start date and can not be left empty.');
                Swal.fire('Required Field', 'Please select a project start date and can not be left empty.', 'warning');
                jQuery('#ProjectStartDate').focus();
                return;
            }

            if (ProjectCompletionDate == '') {
                Notification('warning', 'Required Field', 'Please select a project completion date and can not be left empty.');
                Swal.fire('Required Field', 'Please select a project completion date and can not be left empty.', 'warning');
                jQuery('#ProjectCompletionDate').focus();
                return;
            }

            if (ProjectEstimatedCost == '') {
                Notification('warning', 'Required Field', 'Please enter project estimated cost amount.');
                Swal.fire('Required Field', 'Please enter project estimated cost amount.', 'warning');
                jQuery('#ProjectEstimatedCost').focus();
                return;
            }

            if (!IsNumeric(ProjectEstimatedCost)) {
                Notification('warning', 'Required Field', 'Please enter valid project estimated cost amount.');
                Swal.fire('Required Field', 'Please enter valid project estimated cost amount.', 'warning');
                jQuery('#ProjectEstimatedCost').focus();
                return;
            }

            if (parseFloat(ProjectEstimatedCost) == 0 || parseFloat(ProjectEstimatedCost) < 0) {
                Notification('warning', 'Required Field', 'Project estimated cost amount can not be equal to zero (0) or can not be negative.');
                Swal.fire('Required Field', 'Project estimated cost amount can not be equal to zero (0) or can not be negative.', 'warning');
                jQuery('#ProjectEstimatedCost').focus();
                return;
            }

            GeneralInfoSave();
        });
    });

    function GeneralInfoSave() {
        var ProjectName = GetTextValue('ProjectName');
        var BackgroundAndRationale = GetTextValue('BackgroundAndRationale');
        var ProjectTarget = GetTextValue('ProjectTarget');
        var ProjectObjective = GetTextValue('ProjectObjective');
        var ProjectActivity = GetTextValue('ProjectActivity');
        var ProjectStartDate = GetTextValue('ProjectStartDate');
        var ProjectCompletionDate = GetTextValue('ProjectCompletionDate');
        var ProjectEstimatedCost = GetTextValue('ProjectEstimatedCost') == '' ? '0' : GetTextValue('ProjectEstimatedCost');

        var pcd = {
            "ProjectId": jQuery('#ProjectId').val(),
            "UserId": 0,
            "AppSubmissionId": jQuery('#AppSubmissionId').val(),
            "ApplicationStateId": jQuery('#ApplicationStateId').val(),
            "ApprovalStatusId": jQuery('#ApprovalStatusId').val(),
            "ProjectTypeId": jQuery('#ProjectTypeId').val(),
            "ProjectName": ProjectName,
            "BackgroundAndRationale": BackgroundAndRationale,
            "ProjectTarget": ProjectTarget,
            "ProjectObjective": ProjectObjective,
            "ProjectActivity": ProjectActivity,
            "ProjectStartDate": ProjectStartDate,
            "ProjectCompletionDate": ProjectCompletionDate,
            "ProjectEstimatedCost": ProjectEstimatedCost
        };

        console.log(pcd);

        //#region project location script
        var rowCount = $('#tbodyProjectLocation tr').length;
        var LocationArray = [], ImageFiles =[];

        var table = $("#tbodyProjectLocation");
        table.find('tr').each(function (i) {
            var $tds = $(this).find('td');

            var LocationId = $tds.eq(7).find('input[type=hidden]').val();
            LocationId = (LocationId == '') ? 0 : LocationId;
            var DistrictGeoCode = $tds.eq(0).find('input[type=hidden]').val();
            var UpazilaGeoCode = $tds.eq(1).find('input[type=hidden]').val();
            var UnionGeoCode = $tds.eq(2).find('input[type=hidden]').val();
            var Latitude = $tds.eq(3).text();
            var Longitude = $tds.eq(4).text();
            var ImageFile = $tds.eq(5).find('input[type=hidden]').val();
            var MapFile = $tds.eq(6).find('input[type=hidden]').val();//hdSelectedMapFile

            if (LocationId == 0) {
                $tds.eq(5).find('img').each(function (i) {
                    var src = $(this).attr('src');
                    //console.log(src);
                    ImageFiles.push(src);
                });
            }

            if (DistrictGeoCode != '' && DistrictGeoCode != undefined) {
                var location = {
                    'LocationId': LocationId,
                    'DistrictGeoCode': DistrictGeoCode,
                    'UpazilaGeoCode': UpazilaGeoCode,
                    'UnionGeoCode': UnionGeoCode,
                    'Latitude': Latitude,
                    'Longitude': Longitude,
                    'ImageFile': ImageFiles,
                    'MapFile': MapFile,
                    'Error': ''
                };

                LocationArray.push(location);
            }
        });

        console.log(LocationArray);
        //#endregion

        var url = '@Url.Action("gis", "form")';
        jQuery.ajax({
            type: "POST",
            url: url,
            data: { _pcd: pcd, _locs: LocationArray },
            dataType: "json",
            success: function (data, status, jqXHR) {
                if (data.status == 'success') {
                    SetHiddenValue('ProjectId', data.id);
                    Notification('success', 'Success', data.message);
                } else {
                    Notification('error', 'Saving Error', data.message);
                }
            }, error: function (jqXHR, exception) {
                var errorMsg = AjaxErrorHandle(jqXHR, exception);
                Notification('error', 'Error Occured', errorMsg);
            }
        });
    }
</script>