@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var prev_lang = ViewData["LanguageId"].ToString();
    CcModAppProjectCommonDetail pcd = (CcModAppProjectCommonDetail)ViewData["ProjectCommonDetail"];
    var acalist = (List<CcModAppAdditionalAttachment>)ViewData["AdditionalCommentAttachment"];
}

<div class="form-group">
    <div class="form-group mb-0">
        <table style="width: 100%;">
            <tr>
                <td>
                    @if (prev_lang == "1")
                    {<span>মন্তব্য</span>}
                    else
                    {<span>Comments</span>}
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    @pcd.AdditionalTextComment
                </td>
            </tr>
            <tr>
                <td>
                    @if (prev_lang == "1")
                    {<span>সংযুক্তি</span>}
                    else
                    {<span>Attachments</span>}
                    <br />
                    <ul id="tbdAdditionalInfo">
                        @foreach (CcModAppAdditionalAttachment aca in acalist)
                        {
                            <li>Title: @aca.AttachmentTitle&nbsp;&nbsp;&nbsp;Attachment File: @aca.AditionalAttachmentFile</li>
                        }
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>

<br />