<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/report.css" rel="stylesheet" />
    <style type="text/css">
        body {
            font-family: 'AdorshoLipi', Arial, sans-serif !important;
            font-size: 120%;
            color: #100f0f !important;            
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>